{% extends 'base.html' %}

{% block content %}

<div class="card"
     style="max-width:500px; margin:auto;">

    <h2 class="section-title">
        Forgot Password
    </h2>

    <form method="POST">

        {% csrf_token %}

        <label>Email Address</label>

        <input type="email"
               name="email"
               required>

        <br><br>

        <button type="submit"
                class="btn">

            Send Reset Link

        </button>

    </form>

</div>

{% endblock %}