{% extends 'base.html' %}

{% block content %}

<div class="card"
     style="
     max-width:500px;
     margin:auto;
     text-align:center;
     ">

    <h1 style="
        font-size:30px;
        margin-bottom:20px;
    ">
        Reset Link Sent
    </h1>

    <p style="
        color:#64748b;
        font-size:16px;
        line-height:1.7;
    ">

        A password reset link has been sent
        to your registered email address.

    </p>

    <a href="/login/"
       class="btn"
       style="
       margin-top:25px;
       display:inline-block;
       ">

        Back To Login

    </a>

</div>

{% endblock %}